/* Global Styles */  
  
* {  
  box-sizing: border-box;  
  margin: 0;  
  padding: 0;  
}  
  
body {  
  font-family: Arial, sans-serif;  
  line-height: 1.6;  
  color: #333;  
  background-color: #f9f9f9;  
}  
  
#root {  
  max-width: 1280px;  
  margin: 0 auto;  
  padding: 2rem;  
  text-align: center;  
}  
  
/* Logo Styles */  
  
.logo {  
  height: 4em;  
  padding: 1em;  
  will-change: filter;  
  transition: filter 300ms;  
}  
  
.logo:hover {  
  filter: drop-shadow(0 0 2em #646cffaa);  
}  
  
.logo.react:hover {  
  filter: drop-shadow(0 0 2em #61dafbaa);  
}  
  
/* Signin Container Styles */  
  
.signin-container {  
  display: flex;  
  flex-direction: column;  
  align-items: center;  
  justify-content: center;  
  height: 100vh;  
  text-align: center;  
  padding: 2rem;  
  background-color: #f9f9f9;  
}  
  
.signin-container h1 {  
  margin-bottom: 1.5em;  
  color: #333;  
  font-size: 2em;  
  font-weight: bold;  
}  
  
.signin-container.clerk-sign-in-button {  
  background-color: #00BF63;  
  border: none;  
  border-radius: 8px;  
  color: #fff;  
  font-size: 1.2em;  
  padding: 1.2em 2.4em;  
  cursor: pointer;  
  transition: background-color 0.3s ease;  
}  
  
.signin-container.clerk-sign-in-button:hover {  
  background-color: #333;  
}  
  
.signin-container.clerk-sign-in-button:focus {  
  outline: none;  
  box-shadow: 0 0 5px rgba(255, 127, 80, 0.5);  
}  
  
/* Logo Spin Animation */  
  
@keyframes logo-spin {  
  from {  
    transform: rotate(0deg);  
  }  
  to {  
    transform: rotate(360deg);  
  }  
}  
  
@media (prefers-reduced-motion: no-preference) {  
  a:nth-of-type(2).logo {  
    animation: logo-spin infinite 20s linear;  
  }  
}  
  
/* Card Styles */  
  
.card {  
  padding: 2em;  
  background-color: #fff;  
  border: 1px solid #ddd;  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}  
  
/* Read the Docs Styles */  
  
.read-the-docs {  
  color: #666;  
  font-size: 1.2em;  
  text-decoration: none;  
}  
  
.read-the-docs:hover {  
  color: #333;  
  text-decoration: underline;  
}
