.work-in-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    font-size: 24px;
    font-weight: bold;
    color: black;
  }
  