:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
  color: #213547; /* default text color for light mode */
  background-color: #ffffff; /* default background color for light mode */
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0; /* Remove padding for fixed navbar */
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff; /* Ensure body background is white */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: black;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; /* Full viewport height */
  padding-top: 50px; /* Adjust padding to account for the fixed navbar and reduce gap */
}
